* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    background: #1f2937;
    color: #fff;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}


.hero {
    padding: 60px 20px;
    text-align: center;
    background: #e5e7eb;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 16px;
}
