* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    background: #b91c1c;     
    color: #fff;
    padding: 16px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
}

.nav a:hover {
    text-decoration: underline;
}


.hero {
    background: #fef2f2;     
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 12px;
    color: #111827;
}

.hero p {
    font-size: 16px;
    color: #374151;
}
